doctype html
block html
  html.page(lang='ru')
    include head
    body.page__body
      .page__header
        block header
      .page__main
        block main
      .page__footer
        block footer
